[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "deps/openfmb-protobuf"]
	path = deps/openfmb-protobuf
	url = git@github.com:mthollylab/openfmb-protobuf.git
[submodule "deps/openfmb-dds"]
	path = deps/openfmb-dds
	url = git@github.com:mthollylab/openfmb-dds.git
[submodule "deps/modbus"]
	path = deps/modbus
	url = git@github.com:aegis4ics/modbus-cpp.git
	branch = loopser
[submodule "deps/argagg"]
	path = deps/argagg
	url = https://github.com/vietjtnguyen/argagg.git
[submodule "deps/cppcodec"]
	path = deps/cppcodec
	url = https://github.com/tplgy/cppcodec.git
