[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "deps/openfmb-protobuf"]
	path = deps/openfmb-protobuf
	url = git@github.com:mthollylab/openfmb-protobuf.git
[submodule "deps/modbus"]
	path = deps/modbus
	url = git@github.com:openenergysolutions/modbus-cpp.git
[submodule "deps/argagg"]
	path = deps/argagg
	url = https://github.com/vietjtnguyen/argagg.git
[submodule "deps/cppcodec"]
	path = deps/cppcodec
	url = https://github.com/tplgy/cppcodec.git
[submodule "deps/goose-cpp"]
	path = deps/goose-cpp
	url = git@github.com:openenergysolutions/goose-cpp.git
