# any cmake build directories that begin with "build"
/build*

# ignore generated protos
/adapter-api/src/adapter-api/proto

# clion stuff
/.idea/
/cmake-build-*

/codegen/target
/codegen/*.iml
/codegen/*.idea