[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "deps/openfmb-protobuf"]
	path = deps/openfmb-protobuf
	url = git@github.com:jadamcrain/openfmb-protobuf.git
[submodule "deps/openfmb-dds"]
	path = deps/openfmb-dds
	url = git@github.com:mthollylab/openfmb-dds.git
