# any cmake build directories that begin with "build"
/build*

# clion stuff
/.idea/
/cmake-build-*

/codegen/target
/codegen/*.iml
/codegen/*.idea

# Visual Studio Code
/.vscode
*.un~

# Nix output
result*
result-dev

# docker tars
*.tar.gz
*.tar
